/* Header styles */

#site-header {
  display: flex;
  justify-content: space-between;
}

.branding {
  display: flex;
  flex-direction: column;
}

/* Weather styles */
.current-weather {
  text-align: right;

  p {
    margin: 0;
    padding: 0;
  }

  .current-location {
    font-size: 18px;
    font-weight: 700;
  }
}

/* SOME BASIC STYLES FOR DEMO PURPOSES. DELETE ME */
#site-header,
#site-content,
#site-footer {
  margin-bottom: 24px;

  h1 {
    margin: 0;
    padding: 0;
  }
}
